@font-face {
  font-family: vazir;
  src: url(../fonts/Vazir.ttf);
}

* {
  font-family: vazir;
}

.based {
  height: 100vh;
}

.tableBox {
  padding: 50px;
}

.formSignup * {
  margin-bottom: 10px;
}
.navRightBgColor {
  background-color: black;
}
.side-color {
  background-color: rgb(233, 233, 233) !important;
}
.bg-color {
  background-color: white !important;
}
.hover-li :hover {
  color: gold !important;
}
.border {
  padding: 2rem;
  border: 5px solid;
  background-color: white !important;
  border: 5px solid;
  border-radius: 0.25rem !important;
  margin-top:2rem;
}
