{% extends 'base.html' %}

{% block body %}
<table class="table table-striped table-sm mt-4">
    <thead>
        <tr>
            <th scope="col">نام کاربری</th>
            <th scope="col">تعداد فروش</th>
            <th scope="col">نام</th>
            <th scope="col">نام خانوادگی</th>
            <th scope="col">دسترسی</th>
        </tr>
    </thead>
    <tbody>
        {% for employe in employes %}
        <tr>
            <td>{{employe}}</td>
            <td> XXXXX</td>
            <td>{{employe.first_name}}</td>
            <td>{{employe.last_name}}</td>
            <td>
                <a href="{% url 'employe' %}"><button type="button"
                        class="btn btn-sm  btn-info text-white">مشاهده وضعیت</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock body %}